<body>
  <div class="flex-container">
  	<div id="splash">
  		<h1>matchmaker.gg</h1>
  	</div>
  	<div id="find-create">
  		<%= link_to newtournament_path, class: "main-btn" do %>Create Tournament<% end %>
  		<%= link_to '/tournaments', class: "main-btn" do %>Find Tournament<% end %>
  	</div>
  </div>
</body>