<body class="home-page">
  <div class="flex-container">
  	<div id="splash">
  		<h1><%= image_tag ("home-logo.png"), class: "splash-img" %></h1>
  	</div>
  	<div id="find-create">
      <% if current_user %>
  		  <%= link_to newtournament_path, class: "main-btn" do %>Create Tournament<% end %>
      <% else %>
        <%= link_to '/signup', class: "main-btn" do %>Create Tournament<% end %>
      <% end %>
  		<%= link_to '/tournaments', class: "main-btn" do %>Find Tournament<% end %>
  	</div>
  </div>
</body>