<nav>
  <span class="title">App Name</span> # Want this to eventually be a logo/title that acts as a home button
  <div class="middle-header">
    <%= form_for :tournament, url: "/tournaments", method: :get do |f| %>
      <div>Search for:</div>
      <%= f.text_field :search %>
      <%= f.select :game, options_for_select(["League of Legends", "Super Smash Bros Ultimate"]), include_blank: "-Select-" %>
      <%= f.submit "Find a tournament" %>
    <% end %>  
  </div>
  <div class="right-side-header">
    <button id="login-button">Login</button>
    <button id="register-button">Register</button>
  </div>
</nav>