<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<nav>
  <span class="title">App Name</span>
  <div class="middle-header">
    <%= form_for :tournament, url: "/tournaments", method: :get do |f| %>
      <div>Search for:</div>
      <%= f.text_field :search %>
      <%= f.select :game, options_for_select(["League of Legends", "Super Smash Bros Ultimate"]), include_blank: "-Select-" %>
      <%= f.submit "Find a tournament" %>
    <% end %>  
  </div>
  <div class="right-side-header">
    <button id="login-button" class="btn">Login</button>
    <button id="register-button" class="btn">Register</button>
  </div>
</nav>