<nav>
  <span class="title">App Name</span>
  <div class="middle-header">
    <label class="search-label" for="search">Find an event: </label>
    <input class="search" type="text" placeholder="Search...">
    <button id="search-button" type="submit" class="btn-primary"> <i class="fas fa-search search-icon"></i></button>
  </div>
  <div class="right-side-header">
    <button id="login-button">Login</button>
    <button id="register-button">Register</button>
  </div>
</nav>