.container {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-areas: "Header"
  "Content"
  "Content";
  grid-template-columns: 1fr;
  grid-template-rows: 134px 130px 543px;
}
.container > div {
  border: 1px dashed #888;
}

.Header {
  grid-area: Header;
}
.Content {
  grid-area: Content;
}