.tournament-container {
  margin-top: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tournament-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #99999c;
  background-color: #1d1f20;
  width: 50%;
  height: 75%;
  box-shadow: 0 4px 8px 0 #ffffff;
  font-size: 1.5em;
  border-radius: .5em;
}

.input-field {
  display: flex;
  align-items: center;
  margin: 1em;
  gap: 10px;
}

.tournament-input {
  padding: 1em;
  background-color: #1d1f20;
  color: #99999c;
  font-family: "Roboto";
  border: 0;
}

.create-button {
  padding-left: 10em;
  padding-bottom: 2em;
  align-items: flex-end;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em 5em 0em;
}

.page-title {
  color: #99999c;
  font-size: 2em;
}

.tournament-filter {
  padding: 1em;
  background-color: #1d1f20;
  color: #99999c;
  font-family: "Roboto";
  border: 0;
}

#tournaments {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10em;
  margin-right: 10em;
}

.tournament-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d1f20;
  width: 20%;
  margin: 2em;
  color: #99999c;
  box-shadow: 0 4px 8px 0 #ffffff;
  transition: 0.2s;
  border-radius: .5em;
  border: 0;
  text-decoration: none;
}

.banner-img {
  width: 100%;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  object-fit: contain;
}

.team-and-organizer {
  display: flex;
  
}

.tournament-card:hover {
  transform: translateY(-5%);
}

.icon {
  margin-right: .5em;
}

.tournament-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
}

/* Tournament Show */

.tournament-show {
  display: flex;
  justify-content: center;
}

.tournament-show-container {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  background-color: #1d1f20;
  width: 75%;
}

.tournament-header {
  max-width: 25%;
  color: #99999c;
  margin-left: 50px;
}

.misc-header-info {
  font-size: .8em;
}

.image-description {
  display: flex;
  flex-direction: column;
}

.description {
  max-width: 25%;
}

/* Tournament Ladder */

#ladder {
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
  line-height: 1.4em;
  justify-content: center;
  width: 100%;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  list-style: none;
  padding: 0;
}

.spacer { 
  flex-grow: 1;
}

.spacer:first-child,
.spacer:last-child {
  flex-grow: .5;
}

.round .team-spacer {
  flex-grow: 1;
}

.team {
  padding-left: 20px;
  color: #99999c;
}

.team-a {
  border-bottom: 1px solid #99999c;
}

.team-spacer{ 
  border-right: 1px solid #99999c;
  min-height: 40px;
}

.team-b{ 
  border-top: 1px solid #99999c;
}

.winning-team {
 border-bottom: 1px solid #99999c;
 position: relative;
}

.fa-crown {
  color: gold;
  padding-left: 6em;
  size: 2em;
  margin-bottom: 2em;
}