<% if current_user ==
<article id="ladder">
<h1>tournament title</h1>
	<ul class="round round-1">
		<li class="spacer">&nbsp;</li>
		
		<li class="team team-a">Team 1</li>
		<li class="team team-spacer">&nbsp;</li>
		<li class="team team-b">Team 2</li>

		<li class="spacer">&nbsp;</li>
		
		<li class="team team-a">Team 3</li>
		<li class="team team-spacer">&nbsp;</li>
		<li class="team team-b">Team 4</li>

		<li class="spacer">&nbsp;</li>
		
		<li class="team team-a ">Team 5</li>
		<li class="team team-spacer">&nbsp;</li>
		<li class="team team-b">Team 6</li>

		<li class="spacer">&nbsp;</li>
		
		<li class="team team-a">Team 7</li>
		<li class="team team-spacer">&nbsp;</li>
		<li class="team team-b">Team 8</li>
		
		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-2">
		<li class="spacer">&nbsp;</li>
		
		<li class="team team-a">&nbsp;</li>
		<li class="team team-spacer">&nbsp;</li>
		<li class="team team-b">&nbsp;</li>

		<li class="spacer">&nbsp;</li>
		
		<li class="team team-a">&nbsp;</li>
		<li class="team team-spacer">&nbsp;</li>
		<li class="team team-b">&nbsp;</li>

		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-3">
		<li class="spacer">&nbsp;</li>
		
		<li class="team team-a">&nbsp;</li>
		<li class="team team-spacer">&nbsp;</li>
		<li class="team team-b">&nbsp;</li>

		<li class="spacer">&nbsp;</li>
	</ul>
  <ul class="round winner">
  <li class="spacer">&nbsp;</li>
  <i class="fas fa-crown"></i>
  <li class="team winning-team">&nbsp;</li>

  <li class="spacer">&nbsp;</li>
  </ul>
</article>