<section class="tournaments-index">

  <header class="page-header">
    <h1 class="page-title">All Tournaments</h1>
    <div class="filters">
    <%= select_tag :game, options_for_select(["League of Legends", "Super Smash Bros Ultimate"]), include_blank: "Game", class: "tournament-filter" %>
    <%= select_tag :skill, options_for_select(["Low", "Intermediate", "Advanced"]), include_blank: "Skill Level", class: "tournament-filter" %>
    <%= select_tag :region, options_for_select(["NA", "EUW", "EUNE", "KR", "BR", "OCE"]), include_blank: "Region", class: "tournament-filter" %>
  </header>

  <div id="tournaments">
    <%= render @tournaments %>
  </div>

</section>