<section class="tournaments-show">

  <header class="tournament-header">
      <h1><%= @tournament.name %></h1>
      <h2>Organized by: Creator</h2>
  </header>

  <article class="tournament-details">
    <% if @tournament.game == "League of Legends" %>
    <%= image_tag ("lol.png"), class: "tournament-img" %>
    <% elsif @tournament.game == "Super Smash Bros Ultimate" %>
    <%= image_tag ("smash.png"), class: "tournament-img" %>
    <% end %>
  </article>

  <%= render 'ladder' %>

</section>